<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('manage_floors') }}">Manage Floors/Beds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('floorinfo') }}">Floor/Beds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('view_all') }}">All Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_medicine') }}">Add Medicine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('view_inventory') }}">Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_inventory_medicine') }}">Update Inventory</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <!-- Main content -->
    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9oBO8Fhch0GVDPBCWETmKp1k4GfECR4FQPeE77V7H0aUEN/xd8q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIbW66r8zh7N3jF5EN2eZx4O4O3deGOSbOt6G1g6k5xD5L95L6f" crossorigin="anonymous"></script>
</body>
</html>
