{% extends "base.html" %}
{% block content %}
    <h2>Existing Floors:</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Floor Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for floor in floors %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>Floor {{ floor.floor_count }}</td>
                <td>
                    <form action="{{ url_for('delete_floor', floor_id=floor.id) }}" method="post" style="display: inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this floor?');">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
