{% extends "base.html" %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Medicine</th>
            <th>Total Quantity</th>
            <th>Used Quantity</th>
            <th>Available Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for medicine in medicines %}
        <tr>
            <td>{{ medicine.name }}</td>
            <td>{{ medicine.total_quantity }}</td>
            <td>{{ medicine.used_quantity }}</td>
            <td>{{ medicine.available_quantity() }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="{{url_for('add_inventory_medicine')}}">Want To add or delete Inventory</a>
{% endblock %}